<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repository List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .repo-list {
      list-style: none;
      padding: 0;
    }
    .repo-list li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
    .repo-list li:hover {
      background-color: #e0e0e0;
    }
  </style>
</head>
<body>
<h1>Repositories and Installation IDs</h1>
<ul class="repo-list">
  {{#each repositories}}
    <li><strong>Repository:</strong> <a href="/app/{{this.ownerRepo.orgName}}/repo/{{this.ownerRepo.repoName}}/deploys?installation_id={{this.installationId}}">{{this.ownerRepo.fullName}}</a></li>
  {{/each}}
</ul>
</body>
</html>
