<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <!-- Include other head elements or scripts here -->
</head>
<body>
{{{body}}}
<!-- The {{{body}}} tag is where your page content will be injected -->
</body>
</html>
